*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

.border{
    border: 4px solid black;
}
section{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    gap: 20px;
    padding: 30px;
}
.container{
    width: 30%;
    height: 100%;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}
.childs{
    width: 100%;
    height: 100px;
}
.container2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.combineChild{
    border: 2px solid black;
}
.first{
    display: flex;
    gap: 20px;
    /* padding: 20px; */
   
}
.firstChild{
    width: 50%;
    height: 200px;
}

.secondChild{
   height: 200px;
    
}

.container3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;

}
.contChilds{
    display: flex;
    gap: 10px;
}

.childrens{
    width: 33%;
    height: 200px;
}

.bottom{
     width: 100%;
    height: 200px;
}